.gradient-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, red, blue);
  opacity: 0.5;
  z-index: 10;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
